html,
:root {
  --white: #fbfbfb;
  --white1: #eceaea;

  --orange1: rgba(255, 182, 80, 1);
  --orange2: rgba(255, 156, 81, 1);
  --orange3: rgba(239, 104, 72, 1);

  --dropShadowOrange: 0px 0px 0.5rem var(--orange2);

  --dark1: #282c34;
  --dark2: #1a1a1a;

  --shadow2: 0px 0px 20px var(--dark2);

  --letterSpacing: 0.05rem;

  --topMenuHeight: 5rem;
}

html {
  background-color: var(--dark1);
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat-Regular";
}

span {
  .material-icons {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.25s ease;

    color: var(--orange2);
  }
  .material-icons:hover {
    filter: drop-shadow(var(--dropShadowOrange));
  }
}

input,
input:focus,
input:hover {
  font-family: "Montserrat-Regular";
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}

button,
button:hover,
button:focus {
  font-family: "Montserrat-Regular";

  border: 0;
  outline: 0;
  background-color: white;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat-Light";
  -webkit-font-smoothing: antialiased;
  color: white;
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
    url(./assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url(./assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-17 20:48:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
