$screen-xl-min: 1920px;
$screen-xl-max: 5000px;

$screen-lg-min: 1280px;
$screen-lg-max: 1919px;

$screen-md-min: 960px;
$screen-md-max: 1279px;

$screen-sm-min: 600px;
$screen-sm-max: 959px;

$screen-xs-min: 0px;
$screen-xs-max: 599px;
