@import "./../../../Styles.scss";

.headercontainer {
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.carditemscontainer {
  overflow-y: overlay;
  height: 30rem;
}

.title {
  margin-top: 7rem;
  opacity: 0;
  text-align: center;
  font-size: 7rem;
  color: var(--orange2);
  filter: drop-shadow(0px 0px 5rem var(--white));
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s forwards;
}

.ordersname {
  font-family: "Montserrat-Bold";
  margin-left: 2rem;
  margin-top: 1rem;
}

.ordercarditemcontainer {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.ordercardcontainer > * {
  margin: 1rem;
}

.orderwrapper {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  max-width: 30rem;
  margin-top: 3rem;
  box-shadow: 0px 0px 3rem rgba(255, 255, 255, 0.192);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dark3);
}

.ordercontainer {
  margin: 1rem;
}

.order {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.orderrow {
  display: flex;
  background-color: rgba(255, 139, 51, 0.144);
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.089);
  b {
    margin-left: auto;
  }
}
