.container {
  height: 25rem;
  width: 15rem;
}

.product-image:hover {
  transform: scale(1.05);
  .price {
    margin-top: 1rem;
  }
}

.product-image {
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 0.5rem;
  width: 100%;
  height: 70%;
}

.description-container {
  display: flex;
  flex-direction: row;
  .col1 {
    width: 50%;
  }
  .col2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.price {
  transition: 0.5s ease;
  margin-top: 0.5rem;

  font-size: 1.8rem;
  font-family: "Montserrat-Bold";
}
.add-to-cart {
  span {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.25s ease;
  }
  span:hover {
    filter: drop-shadow(0px 0px 0.5rem var(--orange2));
  }
  color: var(--orange2);
  top: 1rem;
  right: 1rem;
}
.product-name {
  font-size: 1.4rem;
  color: var(--white1);
  letter-spacing: var(--letterSpacing);
  height: 3rem;
  margin-top: 0.2rem;
}
