.loginpagecontainer {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hide {
  display: none;
}

.loginwrapper {
  z-index: 1001;
  box-shadow: 0px 0px 3rem rgba(255, 255, 255, 0.192);
  border-radius: 1rem;
  width: 95%;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  max-width: 25rem;
  background-color: var(--white1);

  h3 {
    color: black;
    margin: 0;
    margin-left: 0.5rem;
  }
  input {
    align-self: center;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--white);
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.103);
    border-radius: 0.5rem;
    transition: 0.4s;
    color: black;
  }
  input:focus {
    border: none;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.103);
  }
}
.title {
  position: absolute;
  background-color: var(--dark2);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.445);
  width: fit-content;
  align-self: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  transform: translateY(-14.5rem);
  border-radius: 2rem;
}

h2 {
  filter: drop-shadow(0px 0px 5px var(--orange2));
  text-align: center;
  color: var(--orange2);
  letter-spacing: var(--letterSpacing);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.bottom {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    font-family: "Montserrat-Bold";
    background-color: var(--orange2);
    font-size: 1.3rem;
    padding: 0.7rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    border-radius: 0.5rem;
    transition: 0.35s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 7px var(--orange2));
  }
}

h3:nth-child(4) {
  margin-top: 1.5rem;
}

.registertext {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  font-family: "Montserrat-Regular";
  margin-top: 1.5rem;
  text-align: start;
  color: black;
  b {
    cursor: pointer;
    text-decoration: underline 1px solid black;
    transition: 0.2s ease-in-out;
  }
  b:hover {
    color: var(--orange2);
    text-decoration: underline 1px solid var(--orange2);
  }
}



.modalerror {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: var(--shadow2);
  position: relative;
  width: 40vw;
  background-color: red;
  height: 13rem;
  .titleError {
    text-align: center;

    font-weight: bold;
    color: var(--dark1);
    font-size: 1.8rem;
  }

  .accept {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
    padding: 0.5rem;
    padding-inline: 1.2rem;
    border-radius: 0.3rem;
    background-color: var(--orange2);
    width: fit-content;
    font-size: 1.3rem;
  }
}
