@import "./../../Styles.scss";

.menucontainer {
  position: fixed;
  width: 100%;
  top: 0px;
  height: var(--topMenuHeight);
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  transition: 0.4s ease;
}

.colored {
  background-color: var(--dark2);
}
.menucontainer > * {
  background-color: rgba(0, 0, 0, 0);
}

.menu {
  height: 100%;
  //box-shadow: var(--shadow2);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.links {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuitem {
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: var(--letterSpacing);
  transition: 0.35s ease;
}

.menuitem:hover {
  color: var(--orange2);
  transform: translateY(-0.2rem);
}

.selected {
  color: var(--orange2);
  transform: translateY(-0.2rem);
}

.logo {
  margin-left: 1rem;
  align-self: center;
  height: 3rem;
  width: 10%;
  animation: logo-spin 25s infinite linear;
}

.loginicon {
  cursor: pointer;
  font-size: 2rem;
  align-self: center;
}

.cartcounter {
  user-select: none;
  font-size: 1.3rem;
  transform: translateX(2.4rem);
  color: var(--orange2);
  font-family: "Montserrat-Bold";
  top: -0rem;
  position: absolute;
  background-color: transparent;
}

a,
a:hover,
a:focus,
a:active {
  align-self: center;
  text-decoration: none;
  color: inherit;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobilemenucontainer {
  display: none;
}
@media (min-width: 0px) and (max-width: $screen-sm-max) {
  .menucontainer {
    display: none;
  }

  .mobilemenucontainer {
    position: sticky;
    top: 0px;
    height: var(--topMenuHeight);
    background-color: var(--dark2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .logo {
      margin-left: auto;
    }

    .menuicon {
      margin-left: 1rem;
      margin-right: 0;
    }
    .loginicon {
      margin-right: 0rem;
    }
    .cartcontainer {
      margin-right: 2rem;
      margin-left: auto;
      transform: translateY(3px);
      .cartcounter {
        transform: translateY(-1rem) translateX(2.2rem);
      }
    }
  }
}

.expandablemenu {
  width: 0px;
  position: fixed;
  opacity: 0;
  top: 0px;
  background-color: var(--dark2);
  height: 100vh;
  transition: 0.5s ease;
  z-index: 50;
  .links {
    display: none;
    margin-top: var(--topMenuHeight);
    padding-top: 2rem;
    flex-direction: column;
    justify-content: start;
  }
  .links > div {
    margin-bottom: 1rem;
  }
}

.loginLogoMobile {
  margin-right: 1rem !important;
}

.logincontainer {
  transition: 0.35s ease;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logincontainer:hover {
  filter: drop-shadow(var(--dropShadowOrange));
  color: var(--orange2);
}

.username {
  user-select: none;
  margin-top: 0.25rem;
  text-align: center;
}

.wobble {
  animation: wobble 0.8s both;
}

.expandablerightmenu {
  background-color: white;
  z-index: 100000;
  width: 0px;
  position: fixed;
  opacity: 0;
  top: 0px;
  right: 0px;
  background-color: var(--dark2);
  height: 100vh;
  transition: 0.5s ease;
  z-index: 50;
  .links {
    display: none;
    margin-top: var(--topMenuHeight);
    padding-top: 2rem;
    flex-direction: column;
    justify-content: start;
  }
  .links > div {
    margin-bottom: 1rem;
  }
}
.showmenu {
  width: 60%;
  opacity: 1;
  .links {
    display: flex;
  }
}

.showcartmenu {
  width: 30%;
  opacity: 1;
  .links {
    display: flex;
  }
}
