@import "./../../../variables.scss";
@import "./../../../Styles.scss";

.header {
  margin-left: 1.5rem;
  margin-top: var(--topMenuHeight);
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.bigText{
  margin-top: 1rem;
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  font-weight: bold;
  color: var(--orange2);
  justify-content: center;
}

.leftPanel{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.options{
  color: var(--orange3);
  font-size: 1.25rem;
  font-weight: bold;
}

.displayOptions{
  color: cyan;
  display: flex;
  flex-direction: row;
}

.displayTitle{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--orange2);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.wrapperOptions{
  display: flex;
  flex-direction: row;
}

.indAdd{
  margin-left: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: #00bf00;
}

.indEdit{
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: #bfbf00;
}

.indDelete{
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: #bf0000;
}

.optionleft{
  display: flex;
  flex-direction: row;
}

.optionvertical{
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}

.mood{
  display: flex;
  flex-direction: row;
}