@import "./../../../Styles.scss";
.headercontainer {
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.title {
  margin-top: 7rem;
  opacity: 0;
  text-align: center;
  font-size: 6rem;
  color: var(--orange2);
  filter: drop-shadow(0px 0px 5rem var(--white));
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s forwards;
}

.subtitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  opacity: 0;
  align-items: center;
  justify-self: center;
  justify-content: center;
  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  color: var(--white1);
  animation: appear 1s ease 0.4s forwards;
  p {
    text-decoration: line-through;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
