@import "./../../../Styles.scss";

.headercontainer {
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  margin-top: 7rem;
  opacity: 0;
  text-align: center;
  font-size: 7rem;
  color: var(--orange2);
  filter: drop-shadow(0px 0px 5rem var(--white));
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s forwards;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  opacity: 0;
  width: 80%;
  margin-left: 10%;
  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  color: var(--white1);
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0.7s
    forwards;
}

.productcardcontainer {
  margin-top: 6rem;

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.productcardcontainer > * {
  margin: 1rem;
}

.product:nth-child(0) {
  opacity: 0;
  animation: appear 1s ease 1.1s forwards;
}
.product:nth-child(1) {
  opacity: 0;

  animation: appear 1s ease 1.3s forwards;
}
.product:nth-child(2) {
  opacity: 0;

  animation: appear 1s ease 1.5s forwards;
}
.product:nth-child(3) {
  opacity: 0;

  animation: appear 1s ease 1.7s forwards;
}
.product:nth-child(4) {
  opacity: 0;

  animation: appear 1s ease 1.9s forwards;
}

.product-name {
  color: var(--white1);
}
