@import "./../../../Styles.scss";

.container {
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  margin-top: 7rem;
  opacity: 0;
  text-align: center;
  font-size: 7rem;
  color: var(--orange2);
  filter: drop-shadow(0px 0px 5rem var(--white));
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s forwards;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  opacity: 0;
  width: 80%;
  margin-left: 10%;
  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  color: var(--white1);
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0.7s
    forwards;
}

.bodycontainer {
  z-index: 10;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.filtersrow {
  width: 20%;
}

.productcardcontainer {
  padding-top: 6rem;
  padding: 1.5rem;
  //background-color: rgba(255, 255, 255, 0.034);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.productcardcontainer > * {
  margin: 1rem;
}

.product-name {
  color: var(--white1);
}

.filter {
  display: flex;
  flex-direction: column;
  b {
    color: var(--orange2);
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }
  hr {
    margin-bottom: 0.4rem;
  }
  select {
    margin-top: 1rem;
  }
}
select {
  letter-spacing: 0.04rem;
  font-size: 1.2rem;
  width: 9rem;
  background-color: transparent;
  background: transparent;
}
select:focus {
  outline: 0;
  border: 0;
}
select option {
  color: white;
  background-color: var(--dark1);
}
.productsrow {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productsheader {
  overflow: hidden;
  position: relative;
  height: 20rem;
  width: 100%;
  border: 1rem solid rgba(255, 255, 255, 0.034);

  b {
    color: white;
    font-size: 4rem;
    top: 10%;
    left: 5%;
    position: absolute;
  }
  span {
    color: var(--orange2);
    strong {
      color: rgb(236, 31, 31);
    }
    font-size: 2.6rem;
    top: 40%;
    left: 10%;
    position: absolute;
  }
  img {
    z-index: -100;
    min-width: 70rem;
    position: absolute;
    min-height: 100%;
  }
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  input {
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.0425);
    letter-spacing: 0.05rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    max-width: 30rem;

    font-family: "Montserrat-Regular";
  }
  button {
    justify-self: flex-end;
    font-size: larger;
    margin-right: 1rem;
    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--orange2);
  }
}

.searchordercontainer {
  margin: 0;
  margin-left: 5rem;
  b {
    color: var(--orange2);
    font-size: 1.2rem;
    margin-right: 0.2rem;
  }
  select {
    cursor: pointer;
    color: var(--orange2);
    font-weight: bold;
    margin: 0;
    width: fit-content;
  }
}

@media (min-width: 0px) and (max-width: $screen-sm-max) {
  .searchbar {
    flex-flow: column;
    height: fit-content;
    button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
  }
  .searchbar > * {
    margin-top: 2rem;
  }
  .productsheader {
    border: 0;
    img {
      transform: translateX(-4rem);
    }
    b {
      line-height: 5rem;
    }
    span {
      top: 70%;
    }
  }
  .filtersrow {
    display: none;
  }
  .header {
    height: 0;
  }
  .searchordercontainer {
    margin-left: 0;
  }
  .bodycontainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .productsrow {
    margin: 0;
  }
  .searchbar {
    input {
      text-align: center;
    }
  }
}
