@import "./../../../variables.scss";
@import "./../../../Styles.scss";

.container {
  background-color: black;
  z-index: -20;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 0 0;
  display: flex;
  flex-direction: column;
}
.background {
  top: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  transform: translateZ(-7px) scale(getParallaxScale(1px, -7px));
  transform-origin: 0 0;
  img {
    transform: translateX(-10rem);
    max-width: 130rem;
  }
}

.title {
  margin-top: 25rem;
  position: absolute;
  font-size: 2.5rem;
  font-family: "Montserrat-Light";
  filter: drop-shadow(0px 0px 5rem var(--white));
  // animation: appear 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s;
  transform: translateZ(-1px) scale(getParallaxScale(1px, -1px))
    translateX(40vw);
  transform-origin: 0 0;
  b {
    filter: drop-shadow(0px 0px 5px var(--orange2));
    color: var(--orange2);
    font-size: 3rem;
  }
}

.subtitle {
  position: absolute;
  margin-top: 50rem;
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  //animation: appear 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0.7s forwards;
  transform: translateZ(-1.5px) scale(getParallaxScale(1px, -1.5px))
    translateX(40vw);
  transform-origin: 0 0;
}

@media (min-width: 0px) and (max-width: $screen-md-max) {
  .header {
    width: 100%;
  }
  .subtitle {
    width: 70%;
    margin-left: 15%;
  }
  .text {
    width: 90%;
    margin-left: 5%;
  }
}

.noopacity {
  transform: scale(0);
  filter: blur(4rem);
}

.showmore {
  position: fixed;
  bottom: 1rem;
  right: 25%;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-self: center;
  b {
    transform: translateX(-0.4rem);
    font-family: "Montserrat-Light";
  }
  span {
    font-size: 4rem;
  }
}
.reappear {
  animation: reappear 3s ease infinite;
}

.linkimages {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  width: 50%;
  padding: 4rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.linkimagecontainer {
  margin: 1rem;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  img:hover {
    transform: scale(1.1);
  }
}

.ourproducts {
  position: absolute;
  //animation: appear 1.35s cubic-bezier(0.33, 1, 0.68, 1) 1.3s forwards;
  width: fit-content;
  margin-top: calc(35rem * getParallaxScale(1px, -2px));
  z-index: 3;
  margin-left: 60%;
  transition: 0.95s ease;
  background-color: black;
  transform: translateZ(-2px) scale(getParallaxScale(1px, -2px))
    translateX(40vw);
  transform-origin: 0 0;
  b {
    filter: drop-shadow(0px 0px 3px var(--orange2));
    color: var(--orange2);
    user-select: none;
    transition: 0.95s ease;
    font-size: 2rem;
    z-index: 20;
    text-align: center;
  }
  img {
    transition: 0.95s ease;
    filter: brightness(0);

    width: 100%;
  }
}

.ourproducts:hover {
  margin-left: calc(60% - 2rem);
  margin-top: calc(34rem * getParallaxScale(1px, -2px));

  background-color: var(--orange2);
  padding-top: 1rem;
  padding-bottom: 1rem;

  padding-left: 2rem;
  padding-right: 2rem;

  border-radius: 5rem;
  b {
    z-index: 30;
    color: black;
    cursor: pointer;
  }
}

.topfade {
  z-index: 5;
  margin-top: 95vh;
  min-height: 20rem;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 184, 0, 0) 100%
  );
}

.how {
  z-index: 10;

  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
}
.doubts {
  z-index: 10;

  font-size: 8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-self: center;
  background-color: var(--dark2);
  transform: translateY(-7rem);
  color: var(--orange2);
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 50%;
}
.doubtstitle {
  transform: translateY(-4rem);
  text-align: center;
  font-size: 2.5rem;
  color: var(--orange2);
}
.bottomfade {
  z-index: 1;
  min-height: 20rem;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 184, 0, 0) 100%
  );
}

.steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.step {
  letter-spacing: 0.04rem;
  margin: 1rem;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 2rem;
    font-size: 4rem;
    color: var(--orange2);
    align-self: center;
  }
}

.steptitle {
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem;
  b {
    color: var(--orange2);
  }
}
.steptext {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

@media (min-width: 0px) and (max-width: $screen-sm-max) {
  .title {
    transform: translateZ(-1px) scale(getParallaxScale(1px, -1px)) translateX(0);
    margin: 1rem;
    margin-top: 10rem;
    text-align: center;
  }
  .subtitle {
    transform: translateZ(-1.5px) scale(getParallaxScale(1px, -1.5px))
      translateX(0);
    margin-top: 47rem;
    margin-left: calc(20% * getParallaxScale(1px, -1.5px));
  }

  .ourproducts {
  }
  .background {
    img {
      transform: translateY(10rem) translateX(-42.5rem);
    }
  }
}
