.header-container {
  width: 100%;
  height: 90vh;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  margin-top: 10rem;
  opacity: 0;
  text-align: center;
  font-size: 7rem;
  color: var(--orange2);
  filter: drop-shadow(0px 0px 5rem var(--white));
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s forwards;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  opacity: 0;

  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  color: var(--white1);
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 1s forwards;
}

.product-card-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
