@import "./../../../../Styles.scss";

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.wrapperLeft {
  margin-top: 3rem;
  margin-left: 3rem;
}

.wrapperWholeComment {
  margin-top: 0.75rem;
  margin-left: 4rem;
  margin-bottom: 0.75rem;
}

.username {
  font-family: "Montserrat-Bold";
  font-size: 1rem;
  margin-left: 0.5rem;
}

.commentWrapper {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  font-size: 1.35rem;
  color: var(--white1);
}

.headerContainer {
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
}

.wrapperRight {
  margin-top: 6rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.35rem;
  width: 40rem;
  letter-spacing: 0.05rem;
  color: var(--white1);
}

.productImage {
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 0.5rem;
  width: 20rem;
}

.userImage {
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 0.5rem;
  width: 3%;
  height: 3%;
}

.productName {
  font-family: "Montserrat-Light";
  font-weight: bold;
  font-size: 2rem;
  color: var(--orange1);
  margin-bottom: 1rem;
}

.subtitle {
  margin-top: 1rem;
  font-family: "Montserrat-Regular";
  font-size: 1.5rem;
  b {
    color: var(--orange2);
  }
}

.subsubtitle {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  margin-left: 3rem;
}

.text {
  font-size: 1rem;
  opacity: 0.9;
}

.inputComment {
  font-size: 1rem;
  width: 70%;
  padding: 0.3rem;
  background-color: white;
  color: var(--dark2);
  border-radius: 0.5rem;
  margin-left: 3rem;
  margin-right: 2.5%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.buttonsComments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;

  button {
    cursor: pointer;
    font-family: "Montserrat-Bold";
    background-color: var(--orange2);
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    border-radius: 0.5rem;
    transition: 0.35s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 7px var(--orange2));
  }
}

.subheader {
  margin-top: 1rem;
}

@media (min-width: 0px) and (max-width: $screen-sm-max) {
  .headerContainer {
    margin-top: 0;
  }
}
