.product-cart-container {
  margin-top: 3rem;
  height: 15rem;
  width: 45rem;
  color: var(--white);
  display: flex;
  flex-direction: row;
}

.product-image:hover {
  transform: scale(1.05);
  .price {
    margin-top: 1rem;
  }
}

.product-image {
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 0.5rem;
  width: 15rem;
  height: 100%;
}

.product-cart-description-container {
  margin-left: 3rem;
  flex-direction: row;
  width: 25rem;
}
.price {
  transition: 0.5s ease;
  margin-top: 0.5rem;
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Montserrat-Bold";
}
.product-name {
  font-size: 1.4rem;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  margin-top: 0.2rem;
  font-family: "Montserrat-Bold";
}
.product-ammount {
  font-size: 1.4rem;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  margin-top: 0.2rem;
}