.podcontainer {
  background-color: var(--dark2);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow2);

  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pod-input-field {
  font-size: 2rem;
  width: 90%;
  padding: 0.3rem;
  background-color: white;
  color: var(--dark2);
  border-radius: 0.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5rem;
}

.pod-header {
  font-family: "Montserrat-Bold";
  color: var(--orange1);
  margin-left: 1rem;
  padding: 5%;
  margin-top: 1rem;
}

.pod-wrapper {
  box-shadow: 0px 0px 3rem rgba(255, 255, 255, 0.192);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dark3);
  margin-top: 2rem;
}

.buttonsPOD {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
  margin-left: 1rem;

  button {
    cursor: pointer;
    font-family: "Montserrat-Bold";
    background-color: var(--orange2);
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    border-radius: 0.5rem;
    transition: 0.35s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 7px var(--orange2));
  }
}
