.infobutton {
  font-size: 2rem;
  color: #7d0000;
  background-color: black;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    font-family: "Montserrat-Bold";
    background-color: var(--orange2);
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    border-radius: 0.5rem;
    transition: 0.35s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 7px var(--orange2));
  }
}

.comboboxcontainer {
  color: var(--orange2);
  margin-bottom: 1rem;
  width: 20rem;
}

.infocontainer {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.buttonsPODinternal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
  margin-left: 1rem;

  button {
    cursor: pointer;
    font-family: "Montserrat-Bold";
    background-color: var(--orange2);
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    border-radius: 0.5rem;
    transition: 0.35s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 7px var(--orange2));
  }
}

.sucessfulorder {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: var(--shadow2);
  position: relative;
  width: 40vw;
  background-color: white;
  height: 13rem;
  .title {
    text-align: center;

    font-weight: bold;
    color: var(--orange2);
    font-size: 1.8rem;
  }
  .subtitle {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: black;
    opacity: 0.8;
  }
  .accept {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
    padding: 0.5rem;
    padding-inline: 1.2rem;
    border-radius: 0.3rem;
    background-color: var(--orange2);
    width: fit-content;
    font-size: 1.3rem;
  }
}

.paypalcontainer {
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 40rem;
  width: calc(100vw - 2rem);
  color: black;
  font-weight: bold;
  overflow-y: scroll;
  max-height: 80vh;
}

.modalerror {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: var(--shadow2);
  position: relative;
  width: 40vw;
  background-color: red;
  height: 13rem;
  .title {
    text-align: center;

    font-weight: bold;
    color: var(--dark1);
    font-size: 1.8rem;
  }

  .accept {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
    padding: 0.5rem;
    padding-inline: 1.2rem;
    border-radius: 0.3rem;
    background-color: var(--orange2);
    width: fit-content;
    font-size: 1.3rem;
  }
}

.cancel {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  padding: 0.5rem;
  padding-inline: 1.2rem;
  border-radius: 0.3rem;
  background-color: var(red);
  width: fit-content;
  font-size: 1.3rem;
}
