@import "./../../Styles.scss";
@import "./../../variables.scss";

.cartcontainer {
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.bodycontainer {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
}

.cartitemtitle {
  font-size: 1.5rem;
  margin-bottom: 0.63rem;

  b {
    color: var(--orange2);
  }
}

.headercontainer {
  width: 100%;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 3rem;
  opacity: 04rem;
  text-align: center;
  font-size: 6rem;
  color: var(--orange2);
  filter: drop-shadow(0px 0px 5rem var(--white));
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0s forwards;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  opacity: 0;

  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  color: var(--white1);
  animation: tracking-in-expand 1.35s cubic-bezier(0.33, 1, 0.68, 1) 0.7s
    forwards;
}

.carditemcardcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    font-family: "Montserrat-Bold";
    background-color: var(--orange2);
    margin-top: 5rem;
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    border-radius: 0.5rem;
    transition: 0.35s;
  }
  button:hover {
    filter: drop-shadow(0px 0px 7px var(--orange2));
  }
}

.totalPrice {
  background-color: rgba(66, 66, 66, 0.514);
  padding: 1rem;
  padding-right: 3rem;
  padding-left: auto;
  font-size: 2rem;
  color: var(--orange2);
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.089);

  b {
    margin-left: auto;
  }
}

.podcontainer {
  margin-left: 3rem;
  margin-right: 2rem;
  top: 4.5rem;
  right: 4.5rem;
  width: 30%;
}

.cartcontent {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
}

@media (min-width: 0px) and (max-width: $screen-sm-max) {
  .bodycontainer {
    margin-top: 2rem;
    width: 100%;
  }
  .cartcontent {
    align-self: center;
    width: 90%;
  }
  .bodycontainer {
    flex-direction: column-reverse;
  }
  .podcontainer {
    margin: 0;
    align-self: center;
    width: 90%;
    margin-bottom: 3rem;
  }
}
