name: CI for ASW2122
on:
  push:
    branches:
      - continuous_integration

jobs:
  build:
    defaults:
      run:
        working-directory: webapp
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Install Dependencies
        run:
          npm install
      - name: Build
        run:
          CI=false npm run build
      - name: Archive Production Artifact
       uses: actions/upload-artifact@v3
        with:
         name: take-build-file
         path: ./webapp/build
  deploy:
    defaults:
      run:
        working-directory: webapp
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      -name: Download Artifact
       uses: actions/download-artifact@v3
        with:
         name: take-build-file
          path: ./webapp/build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v2.0.0
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

